@import url(./css/global.css/global.css);
@import url(./css/global.css/objetos.css);

@import url(./css/home/header.css);



/* main */

.main-grid{

    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.main-grid h1{

    font-size: 48px;

}

p{
    margin-top:30px;
    color:#050038B8;

}

.p-main{
    font-size: 18px;

}

.form{

    margin-top:30px;
    width: 440px;
    height: 48px;
    padding:2px;
    border-radius: 32px;

}

.button-main{

    background-color: #4262FF;
    width: 440px;
    height: 48px;
    border-radius: 32px;
    color: #ffffff;
    padding: 16px 16px;
    margin-top: 8px;
    border: none;
    font-size: 18px;
}

.button-main:hover{

    background-color: #050038bd;
    cursor: pointer;



}

.form::placeholder{

    color: #050038B8;
    font-size: 16px;
    padding: 20px;
}

.form:focus{

    border-color:#4262FF;
    padding: 4px;
    outline: none;

}

.p-subti{
    margin-top: 16px;
    font-size:14px;
    font-size: 16px;

}

.main-photo-2{
    margin-top: 40px;
}

/* especiais */

.idea{
    
    background-color: #050038;
    color: #fb5;
    padding: 4px 6px;
    border-radius: 10px;
}

/* section empresas*/

.empresas{

    display: grid;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    gap: 10px;
    padding: 45px;
    
}

.empresas p {

    text-align: center;

}

.photo-flex-empresa{

    display: flex;
    justify-content: space-between;

}

/* colaboradores */

.grid-colaboradores{
    display: grid;
    gap: 20px;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}



.grid-colaboradores h2{
    text-align: center;
    font-size: 48px;
}

.flex-colaboradores{
    display: flex;
    justify-content: space-between;
}

.box-flex-colaboradores{

    max-width: 300px;

}

.p-colaboradores{

    font-size: 16px;

}

.colaboradores-a{

    margin-left: 500px;
    padding: 16px 32px;
}

.destaque-colaboradores{
    color: #4262FF;
}

.button-colaboradores{

    background-color: #FFD02F;
    color: #090909;
    position: relative;
    top:1px;
    max-width: 180px;
    padding: 8px 8px;
    text-align: center;
    border-radius: 15px;
    margin-left: 700px;
    border: none;
    transform: skewY(15deg); /* vira vertical */
}

/*work*/

.grid-work{

    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    align-items: center;
}

.grid-work h2{

    font-size: 48px;

}

.grid-work p{

    font-size: 18px;

}

.grid-work a{

    color:#4262FF;
    position: relative;
    top:30px;
    text-decoration:underline;

}

/*connect*/

.grid-connect{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 80px;
    gap: 110px;
}

.grid-connect a{

    color:#4262FF;
    position: relative;
    top:30px;
    text-decoration:underline;

}

.way{

    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:80px;

}

.way h3{
    position: relative;
    top:-350px;
    left: 780px;
    font-size: 24px;
}

.way p{

    position: relative;
    top:-350px;
    left: 700px;
    font-size: 18px;
}

.way a{

    position: relative;
    top:-310px;
    left: 290px;

}