body{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    font-family: Helvetica,roboto;
    overflow-x:hidden;
}

input {

    font-size: 16px;
    text-align: center;

}


h1,h2,p,button{
    margin: 0;
    padding: 0;
}

h2{

    font-size: 48px;

}


ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:#050038;
}

p{
    margin-top:30px;
    color:#050038B8;

}
