.built-way{

    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

}

.flex-built{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: -34px;
}

.flex-built a{

    padding: 16px 12px;
    border-radius: 24px;
    cursor: pointer;
    border: 1px solid #c8c8c8;
}

.flex-built a:hover{

    background-color:#5b77ff26;
    ;

}
.grid-built{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap:10px;
    position: relative;
    top:24px;
    grid-template-columns: 1fr 1fr;

}

.text-built{

    margin-top: 20px;
    margin-left: 8px;

}

.text-built p {

    font-size: 16px;
    color: #050038B2;
}

.text-built a{

    color:#ffffff;
    position: relative;
    top:40px;
    cursor: pointer;
    padding: 8px 16px;
    background-color:#395aff ;
    border-radius: 16px;

}

.active-built{

    background-color: #395aff;
    color: #ffff;

}

.flex-built .active-built:hover{

    background-color: #395aff !important;
    color: #ffff !important;

}

.built-way section {
    display:none;
}

.ativar-texto-built{

    display: block !important;
    animation: show .8s forwards;

}

@keyframes show{

    from{
        opacity: 0;
        transform: translate3d(-30px,0,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }

}

