.date-box{

    margin-left: auto;
    margin-right: auto;
    background-color: #FFD02F;
    padding: 140px;
    width: 1300px;
    display: grid;
    gap:60px;
}

.align-date{
    text-align: center;

}

.align-date-p{
    text-decoration: underline;

}


.grid-date{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    row-gap: 100px;
}

.grid-date div{

    text-align: center;
}