.teams{

    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

}


.flex-team{

    display: flex;
    margin-top: 16px;
    position: relative;
    right: 34px;
    bottom:24px;

}

.button-teams{

    color:#ffffff;
    position: relative;
    cursor: pointer;
    padding: 8px 16px;
    background-color:#395aff ;
    border-radius: 16px;
    left: 10px;

}

.grid-text-teams{

    display: grid;
    gap: 40px;
    align-content: center;
}

.img-teams{

    display: flex;
    gap: 26px;
    position: relative;
    right: 40px;

}

.grid-teams{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 36px;
}

.active-tab-teams a{

    background-color: #395aff;
    color: #ffff;

}

.active-tab-teams a:hover{

    background-color: #395aff;
    color: #ffff;

}

.grid-teams section{

    display: none;

}

.active-content-teams{

    display: block !important;

}
